<section class="statistics">
  <div class="stat-blocks-group">
    <div class="stat-block">
      <p class="stat-number">{{countOfHygrometers}}</p>
      <p class="stat-title">Number of hygrometers</p>
    </div>
    <div class="stat-block">
      <p class="stat-number">21°</p>
      <p class="stat-title">Average temperature</p>
    </div>
    <div class="stat-block">
      <p class="stat-number">{{averageSoilHumidity}}%</p>
      <p class="stat-title">Average soil humidity</p>
    </div>
  </div>
  <table class="stat-table">
    <tr>
      <th>Device ID</th>
      <th>Current humidity (%)</th>
      <th>Last watering</th>
    </tr>
    <tr *ngFor="let hygrometer of hygrometers">
      <td class="sensor-status">{{hygrometer.id}}</td>
      <td class="cntr-col">{{hygrometer.humidity}}</td>
      <td class="cntr-col">{{hygrometer.dateAndTime}}</td>
    </tr>
  </table>
</section>
