<section class="statistics">
  <div class="stat-blocks-group">
    <div class="stat-block">
      <p class="stat-number">12</p>
      <p class="stat-title">Number of hygrometers</p>
    </div>
    <div class="stat-block">
      <p class="stat-number">21°</p>
      <p class="stat-title">Average temperature</p>
    </div>
    <div class="stat-block">
      <p class="stat-number">65%</p>
      <p class="stat-title">Average air humidity</p>
    </div>
  </div>
  <table class="stat-table">
    <tr>
      <th>Device activity</th>
      <th>Current humidity (%)</th>
      <th>Last watering</th>
    </tr>
    <tr>
      <td class="sensor-status">Jill</td>
      <td class="cntr-col">Smith</td>
      <td class="cntr-col">50</td>
    </tr>
  </table>
</section>
