header {
  height: 10vh;
  background-color: #D7D8D7;
  padding: 0 6vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.aqua {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.log {
  font-weight: bold;
}
