* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

input, button {
  border: none;
  outline: none;
}
body{
  padding: 0;
  margin: 0;
}
